*.swp
fish/.config/fish/conf.d/
fish/.config/fish/completions/
fish/.config/fish/fish_variables
fish/.config/fish/functions/
fishd.*
plug.vim.old
tmux/.tmux/plugins
!tmux/.tmux/plugins/tpm
vim/.vim/plugged
